

/*body*/
body {
background: url(images/background.jpg)no-repeat center;
background-size: cover;
background-color: black;
font-family: "Open Sans";


}

.opacity {
	background-color: rgba(0,0,0,0.5 );
}

#doc{
	padding-left: 5%;
	padding-right: 5%;
}


/*nav*/
header nav {
 text-align: center;
 height: 20%;
}

header nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: inline-block;
 line-height: 141px;
}

header nav ul li {
 display: inline-block;
 padding: 0 20px;
}

a:link, a:visited {
 color: #696969;
 text-decoration: none;
}

a:hover {
 color: #ffffff;
 font-weight: bold;
 text-decoration: none;
}


/*videos*/
.pro h1{
text-align: center;
font-size: 3em;
color:white;
}

.pro p{
	text-align: center;
	color: #696969;
	font-size: .8em;
}

.titres {
display: flex;
justify-content: space-between;

}

.video {
 display: flex;
 justify-content: space-around;
 border-top: 2px;
 border-bottom: 2px;
}

table {
	width : 100%;
	border-top: .5px solid #696969;
	border-bottom: .5px solid #696969;
	border-radius: .5px solid #696969;
	justify-content: space-around;
}


.img {
	border-right: .5px #696969;
}
.ligne-verticale{
	width: .5px;
	border: solid grey;
}

.guit {
 display: inline-block;
 text-align: left;
}

.june {
  display: inline-block;
  text-align: left;
}

.rose {
  display: inline-block;
  text-align:left;
}


/*dates*/
.tab td {
width: 35%;
border: !importantnone;
}

.tab td:first-child{
width: 5%!important;
}

.gigs p{
	text-align: center;
	color: #696969;
	font-weight: bold;
	font-size: .8em;
}


/*mid*/
.mid{
	display: flex;
	justify-content: space-around;
	text-align: left;;
}

.obs{
	width: 30%;
}
 .obs p{
	 font-size: .8em;
 }

.viv{
	width: 30%;
}

.posts{
	width: 30%;
}



/*share*/

#share {
	width: 100%;
	height: 20%;
	margin: 0;
	padding: 0;
	display: inline-block;
	justify-content: space-around;
	list-style: none;
	line-height: 70px;
	text-align: center;
}

#share i{
	display: inline-flex;
	justify-content: space-around;
	text-align: center;
	width: 4%;
}

.foot p{
	color: #DCDCDC;
	font-size: .8em;
	text-align: center;
}
